/* style.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #a2a3a8;
  color: #1d1d23;
}

header {
  background: #34b0cf;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

nav a {
  color: rgb(2, 0, 7);
  margin-left: 15px;
  text-decoration: none;
}

.hero {
  padding: 100px 20px;
  text-align: center;
}

section {
  padding: 60px 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  padding: 10px;
  margin: 10px 0;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}


